{% extends 'base.html' %}
{% load static %}

{% block title %}
    Входящие
{% endblock %}

{% block section %}
    Входящие
{% endblock %}

{% block content %}
    <div class="page-info">
        <button class="note">
            <h5 class="name">Добро пожаловать в Todoist! И в 2025 год 🎇</h5>
            <p class="description">Начните с выполнения этой задачи... В 2025 году вы будете неудержимы с поддержкой Todoist!</p>
        </button>
        <button class="note">
            <h5 class="name">Начините с малого: добавьте всего 1 задачу, которая занимает пространство вашего ума 💆</h5>
            <p class="description">Просто наберите что-нибудь вроде этого: Позвонить бухгалтеру 1 марта в 9. Починить холодильник на следующих выходных в 15:00.</p>
        </button>
        <button class="note">
            <h5 class="name">Хотите оставаться в состоянии потока? Установите Todoist на другие свои устройства (и никогда не теряйте задачи из виду!) ✔️</h5>
            <p class="description">Просто наберите что-нибудь вроде этого: Позвонить бухгалтеру 1 марта в 9. Починить холодильник на следующих выходных в 15:00.</p>
        </button>
        <button class="note">
            <h5 class="name">Далее: придумайте одну простую привычку, которую хотите приобрести... И добавьте повторяющуюся задачу 🌅</h5>
            <p class="description">Например, введите: Читать по 30 страниц каждый вечер в 20:00. Пробежать 2 километра каждые 3 дня в 18:00.</p>
        </button>
        <button class="note">
            <h5 class="name">Полезный совет: обеспечьте себе успех, выделяя всего 15 минут на планирование предстоящей недели 📆</h5>
            <p class="description">Мы всегда рады помочь: начните с этого шаблона проекта, посмотрите это видео или прочитайте полное руководство.</p>
        </button>
    </div>
{% endblock %}